﻿@{
    // Convert the dates from viewbag into format usable but date inputs
    string startDate = ViewBag.startDate.ToString("s");
    string endDate = ViewBag.endDate.ToString("s");
}

<div id="snipe-it-header">
    <h4>Snipe-IT Dashboard</h4>
</div>
<div class="SnipeItContainer">
    <div class="DatePicker">
        <text>Start Date: </text>
        <input type="date" id="startDate" class="form-control" value="@ViewBag.startDate?.ToString("yyyy-MM-dd")"/>

        <text>End Date: </text>
        <input type="date" id="endDate" class="form-control" value="@ViewBag.endDate?.ToString("yyyy-MM-dd")"/>

        <button id="snipe-it-submit-button" class="buttons" onclick="SubmitSnipeItDates(false)">Submit</button>
    </div>
    <div class="snipeit-stat-outputs" style="grid-row: 2;">
        <table>
            <tr>
            </tr>
        </table>
        <text>Total Equipment Checked Out: @ViewBag.totalCheckedOut</text>
    </div>
    <div class="snipeit-stat-outputs" style="grid-row: 3;">
        <table>
            <tr><td>Checked Out:</td><td>@ViewBag.currentCheckedout</td></tr>
            <tr><td>Re-Checked Out:</td><td>@ViewBag.currentReChecked</td></tr>
            <tr><td>Reminder Email:</td><td>@ViewBag.currentReminderEmail</td></tr>
            <tr><td>Courtesy Call Completed:</td><td>@ViewBag.currentCourtesyCallCompleted</td></tr>
            <tr><td>1st Late Fee:</td><td>@ViewBag.current1stLateFee</td></tr>
            <tr><td>2nd Late Fee:</td><td>@ViewBag.current2ndLateFee</td></tr>
            <tr><td>Maintenance:</td><td>@ViewBag.currentMaintenance</td></tr>
        </table>
    </div>

    <div class="snipeit-stat-outputs" style="grid-row: 2;">
        <text>Equipment In Circulation: @ViewBag.currentCirculation</text>
    </div>
    <div class="snipeit-stat-outputs" style="grid-row: 3;">
        <table>
            <tr><td>Windows Laptops:</td><td>@ViewBag.availableWin</td></tr>
            <tr><td>Macbook Airs:</td><td>@ViewBag.availableAir</td></tr>
            <tr><td>Macbook Pros:</td><td>@ViewBag.availableMac</td></tr>
            <tr><td>Graphing Calculators:</td><td>@ViewBag.availablGcal</td></tr>
            <tr><td>Projectors:</td><td>@ViewBag.availablProj</td></tr>
            <tr><td>Cameras:</td><td>@ViewBag.availablCam</td></tr>
        </table>
    </div>
    <p class="snipeit-stat-outputs">Last Update: @ViewBag.lastUpdate <button onclick="refresh()">&#8635;</button></p>
</div>

<script>
    function refresh() {
        SubmitSnipeItDates();
        console.log("refresh");
    }
       
      

    function SubmitSnipeItDates() {
        console.log("submit");

        // Load SnipeIt view component
        var _url = '@Url.Action("GetSnipeit", "Home")';

        // Get the start and end dates from the data inputs
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        // Fill array with data from viewbag
        var dataArray = [@ViewBag.currentCheckedout, @ViewBag.currentReChecked, @ViewBag.currentReminderEmail, @ViewBag.currentCourtesyCallCompleted, @ViewBag.current1stLateFee, @ViewBag.current2ndLateFee, @ViewBag.currentMaintenance, @ViewBag.currentCirculation, @ViewBag.availableWin, @ViewBag.availableAir, @ViewBag.availableMac, @ViewBag.availablGcal, @ViewBag.availablProj, @ViewBag.availablCam ];

        // Use ajax to call the view component
        $.ajax({
            type: "GET",
            url: _url,
            traditional: true,
            data: { startDate: startDate, endDate: endDate},
            success: function (result) {
                // Replace the html of the embed container with html retured by ajax.
                var container = document.getElementById("embed-reports-container");
                container.innerHTML = result;
                
            },
        });
        

    }
</script>