@model List<QADraft.Models.User>

@{
    ViewData["Title"] = "User Options";
}

<style>
    #user-options-link {
        padding-bottom: 1px;
        border-bottom: 1px solid #fff;
    }
</style>

<h2>User Settings</h2>
@await Html.PartialAsync("_UserOptionsNavigation")

<!-- Table to output a list off all users -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qa in Model)
        {
            <tr>
                <td>@qa.Username</td>
                <td>@qa.FirstName</td>
                <td>@qa.LastName</td>
                <td>@qa.Email</td>
                <td>@qa.Role</td>
                <td>@qa.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>
                    <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="EditUser" asp-route-Id="@qa.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>