@model List<QADraft.Models.User>

@{
    ViewData["Title"] = "User Options";
}

<h2>User Settings</h2>
@await Html.PartialAsync("_UserOptionsNavigation")

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qa in Model)
        {
            <tr>
                <td>@qa.Username</td>
                <td>@qa.FirstName</td>
                <td>@qa.LastName</td>
                <td>@qa.Email</td>
                <td>@qa.Role</td>
                <td>@qa.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>
                    <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="EditUser" asp-route-username="@qa.Username" asp-route-firstname="@qa.FirstName" asp-route-lastname="@qa.LastName" asp-route-email="@qa.Email" asp-route-role="@qa.Role" asp-route-createdat="@qa.CreatedAt">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>