@model List<QADraft.Models.GeekQA>
 
@{
    ViewData["Title"] = "All QA's";
    Layout = ViewBag.Layout;
    string menu = ViewBag.menu;
}

<!-- Load the partial view for the menu buttons -->
@Html.Partial(@menu)
<h2>All QAs</h2>

<!-- Show and hide piechart -->
<button id="show-and-hide-graphs" onclick="toggleCharts()" class="buttons table-buttons" value="show">Show Graphs</button>
<div id="charts-container" class="hidden-charts">   
    <div id="top-charts-container">
        <h2>Graph by Nature</h2>
        <div id="donut-chart-div">
            <!-- Partial view must placed within a div that is nested in another div. -->
            <div id="donut-chart-tooltip" class="tooltip"></div>
            <div id="donut-chart-legend">
                <table id="donut-chart-legend-table">
                    <tbody id="donut-chart-legend-table-body">
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- Load the partial view for the DonutChart-->
            <partial name="DonutChartNew"/>
        </div>
    </div>
    <div id="bottom-charts-container">
        <div id="bar-chart-div">
            <div id="bar-chart-tooltip" class="tooltip"></div>
            <partial name="BarChartNew"/>
        </div>
        <div id="scatter-plot-div">
            <div id="scatter-plot-tooltip" class="tooltip"></div>
            <partial name="ConnectedScatterPlot"/>
            <button class="buttons table-buttons" onclick="showChangeDatesModal()">Change Start/End Dates</button>
        </div>
    </div>
</div>
</div>
<!-- Table used to output QAs -->
<table class="table-qa" id="table">
    <!-- Table Header -->
    <thead>
        <tr>
            <!-- sortTable(x) calls the javascript function from _ReportsMenu to sort 
            by the specified column where x is the column index. The class "arrow" is 
            used by the function to edit the column header -->
            <th onclick="sortTable(0)">Committed By<span class="arrow"></th>
            @*<th onclick="sortTable(1)">Found By<span class="arrow"></th>*@
            <th onclick="sortTable(2)">Category<span class="arrow"></th>
            <th onclick="sortTable(3)">Nature<span class="arrow"></th>
            <th id="all-qas-severity-table-header" onclick="sortTable(4)">Severity<span class="arrow"></th>
            <th id="all-qas-committed-on-table-header" onclick="sortTable(5)">Committed On<span class="arrow"></th>
            @*<th onclick="sortTable(6)">Found On<span class="arrow"></th>*@
            <th id="all-qas-actions-table-header" class="noSort">Actions</th> <!-- Don't allow the user to sort by the action column -->
        </tr>
    </thead>
    <!-- Table Body -->
    <tbody>
        
        <!-- Populate the table with all QAs form the database -->
        @foreach (var qa in Model.OrderByDescending(q => q.ErrorDate))
        {
            // Create a new table row
            <tr id="qa-row-@qa.Id">
                @* Insert table data from model *@
                <td>@qa.CommittedBy?.FirstName @qa.CommittedBy?.LastName</td>
                @*<td>@qa.FoundBy?.FirstName @qa.FoundBy?.LastName</td>*@
                <td>@qa.CategoryOfError</td>
                <td>@qa.NatureOfError</td>
                <td id="all-qas-severity-table-data" class="severity-cell-container" data-severity="@qa.Severity"><div class="severity-cell"><span class="severity-span">@qa.Severity</span></div></td>
                <td id="all-qas-committed-on-table-data">@qa.ErrorDate.ToString("MM-dd-yyyy")</td>
                @*<td>@qa.FoundOn.ToString("yyyy-MM-dd")</td>*@
                @* Insert the form inputs into the table row *@
                <td id="all-qas-actions-table-data">
                    @* Assign the form method as POST and the appropriate controller and IActionResult *@
                    <form method="post" asp-controller="QA" asp-action="ManageQA">
                        @* Create hidden input to pass the ID with POST *@
                        <input type="hidden" name="qaId" value="@qa.Id" />
                        @* Create div to hold buttons *@
                        <div class="form-group">
                            @* Inputs that send action with POST. That value is used in ManageQA to determine the correct action to take *@
                            <input id="updateButton" type="submit" name="action" value="View/Edit" class="buttons table-buttons"  />
                            @* The delete input is hidden and cannot be selected by the user *@
                            <input id="deleteButton" type="submit" name="action" value="Delete QA" class="buttons table-buttons" hidden/> 
                            @* Hidden input to pass the source with POST *@
                            <input type="hidden" name="source" value="AllGeekQAs" />
                            @* This button's onclick will open a confirmation dialog. In that dialog you can confirm the 
                            delete action which will trigger the delete button input *@
                            <button id="deleteButton_@qa.Id" onclick="openConfirmationDialog(event)" class="buttons table-buttons">Delete</button>
                            <button id="description-button" class="buttons" onclick='showDetailsModal("@qa.Id", "@qa.FoundBy?.FirstName @qa.FoundBy?.LastName", "@qa.CustomerName", "@qa.UnitId", "@qa.FoundOn", "@qa.Description", "@qa.CreatedAt", "@qa.SubmittedBy", "@qa.CommittedBy?.FirstName @qa.CommittedBy?.LastName", "@qa.ErrorDate", "@qa.Severity", "@qa.CategoryOfError", "@qa.NatureOfError");'>
                                <img id="description-icon" src="~/images/descriptionIconWhite.png" alt="Details" />
                            </button>
                        </div>

                    </form>
                </td>
                    @* For each row, check if the user is a coordinator and if the QA was committed by them. If it was, disable the Delete button *@
                    <script>
                        // Get the variables from the ViewBag
                        var userRole = '@ViewBag.UserRole';
                        var userName = '@ViewBag.UserName';

                        // Check if the user is a Coordinator
                        if (userRole == "Coordinator")
                        {
                            // Get the text of the committedSelect element 
                            var committedBy = '@qa.CommittedBy?.FirstName' + ' ' + '@qa.CommittedBy?.LastName'
                            // Check if the CommittedBy name is the same as the user's name
                            if (committedBy == userName) {
                                // If it is, disable the Edit button
                                var deleteBtn = document.getElementById("deleteButton_@qa.Id");
                                deleteBtn.disabled = true;
                            }
                        }
                    </script>
            </tr>
        }
    </tbody>
</table>
 
<!-- Modal Popupf for Delete QA confirmation -->
<dialog id="dialog">
	<div class="confirmation-content">
        <!-- Confirmation text -->
        <p>Are you sure you want to delete this QA?</p>
        <!-- Confirmation button container -->
        <div class="confirmation-buttons">
            <!-- Confirmation buttons. Yes will call confirmDelete which will trigger 
            the deleteButton input. No will close the confirmation dialog -->
            <button class="buttons" onclick="confirmDelete()">Yes</button> 
            <button class="buttons buttons-accent" onclick="window.dialog.close();">No</button>
        </div>
    </div>
	<button onclick="window.dialog.close();" class="x">❌</button>
</dialog>

<!-- Modal Popup for details -->
<dialog id="dialog-details" class="dialog-popups">
	<div class="confirmation-content">
        <div class="details-modal-content">
            <div class="form-group">
                <label class="popup-labels">Committed By</label>
                <p id='committed-by-output'></p>
            </div>
            <div class="form-group bordered-grid">
                <label class="popup-labels">Found By</label>
                <p id='found-by-output'></p>
            </div>
            <div class="form-group">
                <label class="popup-labels">Submitted By</label>
                <p id='submitted-by-output'></p>
            </div>
            <div class="form-group">
                <label class="popup-labels">Committed On</label>
                <p id='committed-on-output'></p>
            </div>
            <div class="form-group bordered-grid">
                <label class="popup-labels">Found On</label>
                <p id='found-on-output'></p>
            </div>
            <div class="form-group">
                <label class="popup-labels">Submitted On</label>
                <p id='created-on-output'></p>
            </div>
            <div class="form-group">
                <label class="popup-labels">Customer</label>
                <p id='customer-name-output'></p>
            </div>
            <div class="form-group bordered-grid">
                <label class="popup-labels">Unit ID</label>
                <p id='unit-id-output'></p>
            </div>
            <div class="form-group">
                <label class="popup-labels">Severity</label>
                <p id='severity-output'></p>
            </div>
            <div id="griddy-test" class="grid-test">
            <div class="form-group grid-border-bottom">
                <label class="popup-labels">Category</label>
                <p id='category-output'></p>
            </div>
            <div class="form-group grid-border-bottom">
                <label class="popup-labels">Nature</label>
                <p id='nature-output'></p>
            </div>
            </div>
            <div class="form-group grid-span-three-columns">
                <label class="popup-labels">Description</label>
                <p id='description-output'></p>
            </div>
        </div>
        <!-- Confirmation button container -->
        <div class="confirmation-buttons">
            <!-- Confirmation buttons. Yes will call confirmDelete which will trigger 
            the deleteButton input. No will close the confirmation dialog -->
            <button id="cancel-delete-event-button" class="buttons" onclick="closeDetailsModal();">Close</button>
        </div>
    </div>
    <input id="highlight-cell" type="text" disabled hidden />
    <input id="color-before-highlight" type="text" disabled hidden />
	<button onclick="closeDetailsModal();" class="x">❌</button>
</dialog>

<dialog id="dialog-change-dates">
    <div class="confirmation-content">
        <p>Enter the new Start and End dates (start date must be a Sunday)</p>
        <div class="form-group">
            <label for="startDate" class="control-label">Start Date</label>
            <input id="start-date-input" class="form-control" type="date" />
        </div>
        <div class="form-group">
            <label for="endDate" class="control-label">End Date</label>
            <input id="end-date-input" class="form-control" type="date" />
        </div>
        <div class="confirmation-buttons">
            <button class="buttons" onclick="updateDates()">Confirm</button>
            <button class="buttons buttons-accent" onclick="closeChangeDatesModal()">Cancel</button>
        </div>
    </div>
    <button onclick="closeChangeDatesModal();" class="x">❌</button>
</dialog>
 
@section Scripts {
<script>
        document.addEventListener('DOMContentLoaded', function() {
                // Highlight the current page's link
                var qaMenuLink = document.getElementById('qa-menu-link'); 
                qaMenuLink.classList.toggle('highlight-link');

                // Change the color of the button that brings you to this page
                var thisPageButton = document.getElementById('all-geek-qas-button');
                thisPageButton.classList.toggle('button-for-current-page');
        });
        
        // Function called by the delete button to open confirmation modal
        function openConfirmationDialog(event) {
            event.preventDefault(); // Prevent default behavior
            
            // Get the correct form to be submitted
            var parentForm = event.target.closest('form');
            window.currentForm = parentForm;
            // Show the modal
            window.dialog.showModal();
        }
 
        // Function called by the Yes button in the confirmation dialog popup
        function confirmDelete() {
            // Using the form we saved in openConfirmationDialog(), use .click() on the form input to delete the QA
            window.currentForm.querySelector('input[type="submit"][name="action"][value="Delete QA"]').click();
            // If for some reason the page does not change, close the popup and return false (serves to close the function)
            window.dialog.close();
            return false;
        }

        // Code to Hide/Show the DonutChart(s)
        // Set toggle's value to false. Toggle represents the current state of visibility
        var toggle = false;
        toggleChart();      // Call toggleChart() to hide the chart

        // Function to toggle the visibility of the DonutChart(s)
        function toggleChart() {
            // Select the div containing the chart and the buttons to change chart
            // Toggle their visibility using .toggle(bool)
            $("#chartDiv").toggle(toggle);
            // Flip the value of toggle so that the next time it is called the visiblity of the elements will flip.
            toggle = !toggle;
        }

        function toggleCharts() {
            var chartsContainer = document.getElementById('charts-container');
            var toggleGraphsButton = document.getElementById('show-and-hide-graphs');

            chartsContainer.classList.toggle('hidden-charts');
            
            if (toggleGraphsButton.value === 'show') {
                toggleGraphsButton.value = 'hide';
                toggleGraphsButton.textContent = 'Hide Graphs';
            }
            else {
                toggleGraphsButton.value = 'show';
                toggleGraphsButton.textContent = 'Show Graphs';
            }
        }
        
        function showDetailsModal(qaId, foundBy, customerName, unitId, foundOn, description, createdOn, submittedBy, committedBy, committedOn, severity, category, nature) {
            event.preventDefault();

            const dialogDetails = document.getElementById('dialog-details');

            var tableRow = document.getElementById('qa-row-' + qaId);
            var committedByOutput = document.getElementById('committed-by-output');
            var foundByOutput = document.getElementById('found-by-output');
            var submittedByOutput = document.getElementById('submitted-by-output');
            var committedOnOutput = document.getElementById('committed-on-output');
            var foundOnOutput = document.getElementById('found-on-output');
            var submittedOnOutput = document.getElementById('created-on-output');
            var customerNameOutput = document.getElementById('customer-name-output');
            var unitIdOutput = document.getElementById('unit-id-output');
            var severityOutput = document.getElementById('severity-output');
            var categoryOutput = document.getElementById('category-output');
            var natureOutput = document.getElementById('nature-output');
            var descriptionOutput = document.getElementById('description-output');


            var committedOnDate = committedOn.split(' ');
            var foundOnDate = foundOn.split(' ');

            committedByOutput.textContent = committedBy;
            foundByOutput.textContent = foundBy;
            submittedByOutput.textContent = submittedBy;
            committedOnOutput.textContent = committedOnDate[0];
            foundOnOutput.textContent = foundOnDate[0];
            submittedOnOutput.textContent = createdOn;
            customerNameOutput.textContent = customerName;
            unitIdOutput.textContent = unitId;
            severityOutput.textContent = severity;
            categoryOutput.textContent = category;
            natureOutput.textContent = nature;
            descriptionOutput.textContent = description;

            dialogDetails.addEventListener('wheel', function(event) {
                event.preventDefault();
            });

            // Reset background for all td elements in tableRow
            var tdElements = tableRow.getElementsByTagName('td');
            for (var i = 0; i < tdElements.length; i++) {
                tdElements[i].style.backgroundImage = 'none';
            }

            //tableRow.style.backgroundImage = "radial-gradient(circle, rgba(230, 168, 93, 0.2), rgba(230, 168, 93, 0.4))";

            var highlightCell = document.getElementById('highlight-cell');
            highlightCell.value = qaId;

            var colorBeforeHighlightInput = document.getElementById('color-before-highlight');
            colorBeforeHighlightInput.value = window.getComputedStyle(tableRow).backgroundColor;

            applySeverityColors();

            if ('@Context.Session.GetString("Theme")' === 'dark') {
                tableRow.style.boxShadow = '0 0 5px 1px rgba(255, 255, 255, 1)';
            } 
            else {
                tableRow.style.boxShadow = '0 0 5px 1px rgba(230, 168, 93, 1)';
            }

            dialogDetails.showModal();
        }

        function closeDetailsModal() {
            var highlightCell = document.getElementById('highlight-cell');
            var colorBeforeHighlightInput = document.getElementById('color-before-highlight');
            var tableRow = document.getElementById('qa-row-' + highlightCell.value);

            tableRow.style.backgroundColor = colorBeforeHighlightInput.value;
            tableRow.style.boxShadow = '0 0 0';

            applySeverityColors();

            document.getElementById('dialog-details').close();
        }

        async function fetchDates() {
            try {
                const response = await fetch('/api/datesettings/dates');

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                // Read the response as text
                const text = await response.text();
                console.log('Raw Response Text:', text);

                // Parse the JSON text
                const data = JSON.parse(text);
                console.log('Parsed Dates:', data);

                console.log('StartDate = ' + data.StartDate);
                console.log('EndDate = ' + data.EndDate);

            } catch (error) {
                console.error('Error fetching dates:', error);
            }
        }


        async function updateDates() {
            try {
                const startDate = document.getElementById('start-date-input').value;
                const endDate = document.getElementById('end-date-input').value;

                const response = await fetch('/api/datesettings/update-dates', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ StartDate: startDate, EndDate: endDate })
                });

                if (response.ok) {
                    alert('Dates updated successfully');
                } else {
                    alert(`Failed to update dates. Status: ${response.status}`);
                }
            } catch (error) {
                console.error('Error updating dates:', error);
            }

            document.getElementById('dialog-change-dates').close();
            location.reload();
        }

        function showChangeDatesModal() {
            event.preventDefault();

            document.getElementById('dialog-change-dates').showModal();

        }

        function closeChangeDatesModal() {
            event.preventDefault();

            document.getElementById('dialog-change-dates').close();

        }

        // Call fetchDates when the page loads
        window.onload = fetchDates;
    </script>
}
 
