@model List<QADraft.Models.GeekQA>

@{
    ViewData["Title"] = "Flagged Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_ReportsMenu" />
<h2>Flagged Accounts</h2>

<!-- Table that displays all 'flagged' accounts -->
<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th onclick="sortTable(0)">Committed By<span class="arrow"></th>
            <th onclick="sortTable(1)">Found By<span class="arrow"></th>
            <th onclick="sortTable(2)">Category<span class="arrow"></th>
            <th onclick="sortTable(3)">Nature<span class="arrow"></th>
            <th onclick="sortTable(4)">Severity<span class="arrow"></th>
            <th onclick="sortTable(5)">Date<span class="arrow"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qa in Model.OrderByDescending(q => q.ErrorDate))
        {
            <tr>
                <td>@qa.CommittedBy?.FirstName @qa.CommittedBy?.LastName</td>
                <td>@qa.FoundBy?.FirstName @qa.FoundBy?.LastName</td>
                <td>@qa.CategoryOfError</td>
                <td>@qa.NatureOfError</td>
                <td style="background-color: #fff;" data-severity="@qa.Severity">@qa.Severity</td>
                <td>@qa.ErrorDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
